html {
  height: 100%;
  width: 100%;
}
#databaseOutput {
  border: 1px solid black;
  padding: 10px;
}
h1 {
  text-align: center;
  size: 1000;
  font-family:sans-serif;
  color: crimson;
  
}
#title {
  text-align: center;
}
#game1Button {
  text-align: center;
  
}
#homeButton {
  text-align: start;

}
#playGame {
  text-align: center;
  color:red;

}
.input{
  text-align: center;
  color:red;
}
.homeButton{
  text-align: center;
  color:red;
}
#logIn{
  text-align: center;
  color:red
  
}
#submit{
  text-align: center;
  color:red;
  border-radius: 10;

}